
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Product App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .red {
            color: #ff0000;
        }
    </style>
</head>
<body>

    @*<div>

            <h2>All Products</h2>
            <ul id="products" />


        </div>*@
    <div style="margin-top:50px">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div>
        <h2>Search by ID</h2>
        <input type="text" id="prodId" size="5" />
        <input type="button" value="Search" onclick="find();" />
        <p id="product" />
    </div>

    <div>
        <h2>
            ajouter un utilisateur
            <button id="show" type="button" class="btn btn-default btn-sm glyphicon glyphicon-plus"></button>
        </h2>
    </div>
    <div id="cherche">
<<<<<<< HEAD
            <label>Firstnam: </label><input type="text" id="Firstnam" size="25" />
=======
            <label>Firstame: </label><input type="text" id="Firstame" size="25" />
>>>>>>> f6afc9571e675e113d3cf15a33b09cf64d48e593
            <label>lastname: </label><input type="text" id="lastname" size="25" />
            <input type="button" value="Add" onclick="post();" />

        </div>
    @* Modal de formulaire ajout d'un noveau auteur *@
    <div id="monModal" class="modal fade">
        <div class="modal-dialog">
            <div style="margin-left: -700px;margin-right:600px;" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add new item</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="md-form col-md-6">
                            <label>Firstname</label>
                            <input type="text" class="form-control" id="Firstname" size="25" placeholder="Firstname">
                        </div>
                        <div class=" md-form col-md-6">
                            <label>Lastname</label>
                            <input input type="text" class=" form-control" id="lastname" size="25" placeholder="Last Name">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" onclick="post()" ; class="btn  btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
    @* modal to updat in auteur  *@
    <div id="updatModal" class="modal fade">
        <div class="modal-dialog">
            <div style="margin-left: -700px;margin-right:600px;" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Update an item</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="md-form col-md-6">
                            <label>Firstname</label>
                            <input type="text" class="form-control" id="FirstnamePut" size="25" placeholder="Firstname">
                        </div>
                        <div class=" md-form col-md-6">
                            <label>Lastname</label>
                            <input input type="text" class=" form-control" id="lastnamePut" size="25" placeholder="Last Name">
                        </div>
                        <p id="idPut"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismissate="modal">Fermer</button>
                    <button type="button" onclick="put(65)" ; class="btn  btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = 'http://localhost:49341/api/Authors';

        $(document).ready(function () {
            $("#cherche").hide();
            // Send an AJAX request
            debugger;
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        ////$('<li>', { text: formatItem(item) }).appendTo($('#products'));
                        $("tbody").append('<tr onclick= "update(' + item.Id + ')" id="' + item.Id + '"><td>' + item.Firstname + '</td>' + '<td>' + item.Lastname + '</td><td>' + '<button onclick="dellet(' + item.Id + ')"><span class="glyphicon glyphicon-remove-sign red"></span></button>' + '</td></tr>');
                    });
                });
        });

        $("#show").click(function () {
            //$("#cherche").show();
            //$("#show").toggleClass("btn btn-default btn-sm glyphicon glyphicon-minus");
            $("#monModal").modal('show');
        });

        function formatItem(item) {
            return item.Firstname + " " + item.Lastname;
        }

        function find() {
            var id = $('#prodId').val();
            $.getJSON('api/authors' + '/' + id)
                .done(function (data) {
                    $('#product').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#product').text('Error: ' + err);
                });
        }

        function get(id) {
            
            $.getJSON('api/authors' + '/' + id)
                .done(function (data) {
                    document.getElementById("idPut").value = data.Id;
                    document.getElementById("FirstnamePut").value=data.Firstname;
                    document.getElementById("lastnamePut").value=data.Lastname;
                })
                .fail(function (jqXHR, textStatus, err) {
                    document.getElementById("idPut").value = "";
                    document.getElementById("FirstnamePut").value="";
                    document.getElementById("lastnamePut").value="";
                });
        }
        function post() {

            debugger
            var Firstname = document.getElementById("Firstname").value;
            var lastname = document.getElementById("lastname").value;
            var data = {
                "Firstname": Firstname,
                "Lastname": lastname
            };

            var json = JSON.stringify(data);

            $.ajax({
                url: '/api/Authors',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: json,
                success: function (results) {

                   $("tbody").append('<tr onclick= "update(' + results.Id + ')" id="' + results.Id + '"><td>' + results.Firstname + '</td>' + '<td>' + results.Lastname + '</td><td>' + '<button onclick="dellet(' + results.Id + ')"><span class="glyphicon glyphicon-remove-sign red"></span></button>' + '</td></tr>');
                    //$("tbody").append('<tr onclick= "update(' + results.Id + ')" id="' + results.Id + '" < td > ' + results.Lastname + '><td>' + results.Firstname + '</td>' + '<td>' + results.Lastname + '</td><td>' + '<button onclick="dellet(' + results.Id + ')"><span class="glyphicon glyphicon-remove-sign red"></span></button>' + '</td></tr>');

                    //location.reload();
                    $("#cherche").hide();


                }
            });
        }
        function put(id) {

            debugger
            var id = document.getElementById("idPut").value;
            var Firstname = document.getElementById("FirstnamePut").value;
            var lastname = document.getElementById("lastnamePut").value;
            var data = {
                "Id":id,
                "Firstname": Firstname,
                "Lastname": lastname
            };

            var json = JSON.stringify(data);

            $.ajax({
                url: '/api/Authors/'+id,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                data: json,
                success: function (results) {

                    
                    location.reload();
                   


                }
            });
        }
        function update(id) {
            debugger;
            get(id);
            $("#updatModal").modal('show');
        }
        function dellet(id) {
           

            $.ajax({
                url: '/api/Authors/' + id,
                type: 'DELETE',
                success: function (results) {
                    console.log("#" + id);
                    debugger;
                    $("#" + id).remove();

                }
            });
        }
    </script>
</body>
</html>

